img {
  height=100%
  width=100%
}

table {
  padding-left: 50px;
  width: 700px;

}

tr {

}

td {
  font-family: Homemade Apple;
  align-items: center;
  width: 25%;
}

.banner {
    background-color: #cc6600;
}
