img {
  height=100%
  width=100%
}

table {
  padding: 100px;
  width: 700px;
  background-color: #cc6600;
}

tr {
  padding: 50px;
}

td {
  font-family: Homemade Apple;
  align-items: center;
  width: 25%;
}

.banner {
  padding-left: 50px;
}
