/* * {
  box-sizing: border-box;
} */

body {
  background: white;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}
nav {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-height: 10em;
}

#logo {
  max-height: 10em;
  padding: 1em 0 0 0;
  margin: 0px 0px;
  float: left;
  position: relative;
}

img {
  max-height: 10em;
}

ul {
  margin: 0;
  list-style: none; 
  display: block;
  width: 100%;
}

li a{
  font-family: Homemade Apple;
  line-height: 1.5em;
  float:left;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover {
  /* background-color: rgb(204, 202, 202); */
  text-decoration: underline;
}



/* [class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}  */
